/* 
    COMP 333: Software Engineering
    Aaron Lafferty
*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');



#Rate_Songs{ 
    font-family: Lato, serif;
    font-weight: bold;
    color: blue;
}

#Log_in{ 
    font-family: Lato, serif;
    font-weight: bold;
    color: blue;
}

#Search{ 
    font-family: Lato, serif;
    font-weight: bold;
    color: blue;
}

#Check{ 
    font-family: Lato, serif;
    font-weight: bold;
    color: blue;
}

#App{ 
    font-family: Lato, serif;
    font-weight: bold;
    color: blue;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}


p {
    color:rgb(0, 0, 0);
}

div {
    background-color: rgb(170, 170, 170);
}


a:hover {
    color: rgb(132, 0, 255);
}

a:visited {
    color:rgb(132, 0, 255);
}

.navbar ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(218, 218, 218);
    text-align: center;
}

.navbar li {
    width: 150 px;
    background-color: rgb(218, 218, 218);
    border: 3px solid rgb(95, 219, 101);
    margin: 5px 10px 5px 10px;
    padding: 25px;
    display: inline-block;
    line-height: 40px;
}

.navbar a {
    color:#000000;
    text-decoration: none;
}

table, td {
    border: 1px solid gray;
}


iframe {
    width:100%;
    height:100%;
    border: groove;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(95, 219, 101);
  }

.flex-container > div {
    background-color: rgb(233, 218, 218);
    width: 15%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: auto;
}

.img-construction{
    width: 200px;
}